{% extends "terminimal/templates/index.html" %}
{% block extra_head %}
<link rel="me" href="https://bne.social/@phocks" />
<link rel="me" href="https://phocks.eu.org/@josh" />
<meta name="description" content="The dev blog of Joshua Byrd" />
<meta name="keywords" content="hacking, programming, ranting" />
<meta property="og:image" content="/favicon.png">
<meta property="og:image:type" content="image/png">
<meta name="google-site-verification" content="zAlHk1gMLdo06K0pmQamanclrMQZNDTuXW_m8UrD-_4" />
<style>
  abbr {
    cursor: help;
  }

  @media (hover: none) {
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
  }
</style>
{% endblock %}

{% block extra_body %} {% endblock %}